registry=https://npm.pkg.github.com/:_authToken=10807436a673802b5bd0dd4a0bcd00c130ebdf0b

npm set init.author.email "pedro_oliver13@hotmail.com"
npm set init.author.name "pedro"
npm set init.license "MIT"
